In [1]:
import pandas as pd   
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

In [2]:
gdp_df=pd.read_csv('../data/gdp_percapita.csv')

Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

How many rows and columns are in `gdp_df`? What are the data types of each column?

In [3]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2021  1517.016266              NaN
1     Afghanistan  2020  1968.341002              NaN
2     Afghanistan  2019  2079.921861              NaN
3     Afghanistan  2018  2060.698973              NaN
4     Afghanistan  2017  2096.093111              NaN

In [4]:
gdp_df.shape

(7662, 4)

In [5]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7662 entries, 0 to 7661
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  7662 non-null   object
 1   Year             7662 non-null   int64
 2   Value            7662 non-null   float64
 3   Value Footnotes  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 239.6+ KB

Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'

In [6]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

In [8]:
gdp_df= gdp_df.drop(columns = ['Value Footnotes'])
gdp_df.head(1)

  Country or Area  Year        Value
0     Afghanistan  2021  1517.016266

In [10]:
gdp_df=gdp_df.rename(columns={'Country or Area':'country','Year':'year','Value':'gdp_per_capita'})
gdp_df.head(2)

       country  year  gdp_per_capita
0  Afghanistan  2021     1517.016266
1  Afghanistan  2020     1968.341002

How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [16]:
gdp_df['year'].nunique()

33

In [41]:
gdp_df['country'].nunique()

242

In [42]:
gdp_df['country'].value_counts()

country
Least developed countries: UN classification    33
Middle East & North Africa                      33
Middle East & North Africa (IDA & IBRD)         33
Middle income                                   33
Mongolia                                        33
                                                ..
Kosovo                                          15
Sint Maarten (Dutch part)                       14
Turks and Caicos Islands                        12
Somalia                                         10
Djibouti                                        10
Name: count, Length: 242, dtype: int64

In [45]:
gdp_df.groupby(['year'])['country'].count()

year
1990    207
1991    208
1992    210
1993    211
1994    213
1995    223
1996    223
1997    226
1998    226
1999    227
2000    233
2001    234
2002    235
2003    235
2004    236
2005    236
2006    237
2007    237
2008    238
2009    239
2010    239
2011    240
2012    240
2013    242
2014    242
2015    242
2016    242
2017    242
2018    242
2019    242
2020    242
2021    241
2022    232
Name: country, dtype: int64

In [50]:
gdp_df.groupby(['country'])['year'].count()
##coming back to this, need to catch up on datacamp

country
Afghanistan                     True
Africa Eastern and Southern    False
Africa Western and Central     False
Albania                        False
Algeria                        False
                               ...
Viet Nam                       False
West Bank and Gaza              True
World                          False
Zambia                         False
Zimbabwe                       False
Name: year, Length: 242, dtype: bool

In this question, you're going to create some plots to show the distribution of GDP per capita for the year 2020. Go to the Python Graph Gallery (https://www.python-graph-gallery.com/) and look at the different types of plots under the Distribution section. Create a histogram, a density plot, a boxplot, and a violin plot. What do you notice when you look at these plots? How do the plots compare and what information can you get out of one type that you can't necessarily get out of the others?